

.Cards-contianer {
  padding-bottom: 7em;
}

.cards_text-box { 
  height: 60px;
  width: 46%;
}

.cards_h2 {
  margin: 3em;
  padding-top: 1em;
  font-size: 1.5em;
}

.current-p {
  font-size: 2em;
  color: #fff;
  text-align: left;
  margin: 0;
  padding-left: 3.5em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (max-width: 420px) {
  .cards_text-box {
    width: 90%;
    height: 100%;
  }

  .cards_h2 {
    margin: 1em;
  }

  .current-p {
    padding-left: 0.7em;
  }
}
