

.Cards-contianer {
  padding-bottom: 7em;
}

.cards_text-box {
  position: absolute;
  top: 10em;
  left: 20%;
  height: 60px;
  width: 60%; 
}

.iframe-section {
  padding: 5em 0;
}

iframe {
  margin-top: 2em;
  width: 60%;
  border: none;
}

.cards_h2 {
  font-size: 1.5em;
}

.current-p {
  font-size: 2em;
  color: #fff;
  text-align: left;
  margin: 0;
  padding-left: 1.5em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (max-width: 900px) {
  .cards_text-box {
    display: none;
  }

  iframe {
    height: 300px;
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .cards_text-box {
    width: 90%;
    height: 100%;
  }

  .cards_h2 {
    margin: 1em;
  }

  .current-p {
    padding-left: 0.7em;
  }
}
