.capsule-card {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 450px;
  margin: 60px 10px;
  background-color: #ffffffa6;
}

.capsule_h1 {
  font-size: 1.8em;
  color: #2793e6;
}

.button {
  background-image: url('../../assets/space-icon.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}