.base {
  display: inline-block;
  width: 26%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  padding: 2em 0;
  background-color: #ffffff0f;
  margin: 1.5em 3em;
  color: #fff;
}

.card h1 {
  width: 90%;
  text-align: left;
  color:#3b4346eb;
  padding: 15px;
  margin: auto;
}

.card h2 {
  width: 80%;
  margin: auto;
  text-align: left;
  color: #161B1D;
  padding-bottom: 0.5em;
  font-weight: normal;
}

.card h3 {
  text-align: left;
  margin: auto;
  width: 80%;
  padding-top: 1em;
}

.card p {
  /*vertical-align: bottom;*/
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: left;
  margin: 12px auto;
  width: 80%;
}

.button {
  color:#fff;
  font-size: 1em;
  box-sizing: content-box;
  background-image: url('../../assets/space-icon.png');
  background-size: cover;
  border-radius: 50%;
  margin: 20px;
  padding: 1em;
  width: 80px;
  height: 80px;
}



.question {
  display: inline-block;
  min-height: 450px;
  max-height: 100%;
  width: 65%;
  vertical-align: top;
  padding: 5em 0;
  background-color: #ffffff0f;
  margin: 1.5em;
  color: #fff;  
}

.front:hover {
  opacity: 0;
}

.question p {
  text-align: left;
  font-size: 1.3em;
  margin: auto;
  width: 90%;
}

.front p {
  padding: 3em 0;
  font-size: 2em;
  text-align: center;
}

.front {
  transition: 1s ease;
  position: absolute;
  top: 14em;
  right: 13em;
  height: 550px;
  background-image: url('../../assets/starman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 4em;
  z-index: 3;  
}

#flip-button {
  color: #fff;
  font-size: 4em;
  position: absolute;
  left: 75%;
  bottom: 0em;
  padding: 0;
  width: 40%;
}


.back {
  width: 65%;
  position: absolute;
  top: 14em;
  right: 13em;
  height: 550px;
  
}

.signinMessage {
  margin-bottom: 3px;
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .front {
    top: 17em;
    right: 8em;
  }

  .back {
    top: 17em;
    right: 8em;
  }
  
}

@media screen and (max-width: 420px) {
  .card {
    width: 100%;
    margin: 0;
  }

  .question {
    padding: 0.5em 0;
    margin: auto;
    width: 85%;
  }

  .front {
    font-size: 1em;
    position: relative;
    top: -10px;
    right: -4px;
  }

  .back {
    position: absolute;
    top:280px;
    right: 20px;
  }

  .question p {
    font-size: 0.8em;
  }
}