.base {
  display: inline-block;
  width: 26%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  padding: 2em 0;
  background-color: #ffffff0f;
  margin: 1.5em 3em;
  color: #fff;
}

.card h1 {
  padding: 15px;
}

.card p {
  letter-spacing: 2px;
  text-align: left;
  margin: 12px auto;
  width: 80%;
}

.button {
  color:#fff;
  font-size: 1em;
  box-sizing: content-box;
  background-image: url('../../assets/space-icon.png');
  background-size: cover;
  border-radius: 50%;
  margin: 20px;
  padding: 1em;
  width: 80px;
  height: 80px;
}



.question {
  display: inline-block;
  min-height: 450px;
  max-height: 100%;
  width: 65%;
  vertical-align: top;
  padding: 5em 0;
  background-color: #ffffff0f;
  margin: 1.5em;
  color: #fff;
  
}

.front:hover {
  opacity: 0;
  transition: 1s ease;
}

.question p {
  text-align: left;
  font-size: 1.3em;
  margin: auto;
  width: 90%;
}

.front p {
  padding: 3em 0;
  font-size: 2em;
  text-align: center;
}

.front {
  position: absolute;
  top: 14em;
  right: 12em;
  height: 550px;
  width: 70%;
  background-image: url('../../assets/starman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 4em;
  z-index: 3;  
}

.back {
  position: absolute;
  top: 14em;
  right: 13em;
  
}

.signinMessage {
  margin-bottom: 3px;
  font-size: 0.9em;
  letter-spacing: 2px;
  color: #fff;
}

@media screen and (max-width: 420px) {
  .card {
    width: 100%;
    margin: 0;
  }

  .question {
    margin: auto;
    width: 85%;
  }

  .front {
    font-size: 1em;
    position: relative;
    top: 0;
    right: 0;
  }

  .back {
    position: absolute;
    top: 290px;
    right: 20px;
  }
}