.NavBar {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 12%;
  height: 80px;
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.signin {
  display: block;
  color: #FFF;
  text-decoration: none;
  margin: 10px;
}

.createAccount {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-top: 8px;
}

.NavBar button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.home {
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  display: block;
  padding-top: 8px;
}

@media screen and (max-width: 1000px) {
  .NavBar {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .NavBar {
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 420px) {
  .NavBar {
    font-size: 0.7em;
    width: 35%;
  }

  
}