.header {
  position: relative;
  height: 110px;
  background-color: black;
  margin: 0;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 1em;
}

h1 span {
  color: #945972;
  padding-right: 10px;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .header {
    height: 16em;
  }
  h1 {
    width: 100%;
    padding: 2.2em;
  }

  .signin {
    margin: 1px;
  }

 
  
}