.buttons {
  margin: 2em;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.launches-buttons {
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.signinMessage {
  margin-bottom: 3px;
  font-size: 0.9em;
  letter-spacing: 2px;
  /*position: relative;
  bottom: 17em;
  left: 33em;*/
  color: #fff;
}