.Homepage {
  display: inline-grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 25% 25% 25% 25%;
}

.main-header {
  display: inline-grid;
  grid-column: 1 / 3;
  grid-row: 1/ 3;
  position: relative;
  width: 100%;
  height: 670px;
  background-image: url('../../assets/nathan-anderson.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header h1 {
  padding: 1.3em 0;
  width:65%;
  margin: 25px auto;
}

.main-header h2 {
  padding-top: 2.6em;
  height: 50%;
  width: 85%;
  margin: 10px auto;
  color: #754c5d;
  text-align: left;
}

.text-box {
  position: absolute;
  top: 20%;
  left: 5%;
  height: 360px;
  width: 90%;
  background-color: #ffffff0f;
}

.homepage-video {
  display: inline-grid;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  width: 100%;
  padding-top: 3em;
  padding-left: 3em;
}

.bio {
  padding: 0;
  width: 75%;
  margin: 2px auto;
  font-size: 1.3em;
  color: #fff;
  text-align: left;
}

.iframe {
  width: 90%;
  border: none;
  margin: auto;
}

.text-box_homepage {
  background-color: #ffffff0f;
  width: 90%;
  font-size: 1.3em;
  margin: auto;
  height: 230px;
  color: #fff;
}

.text-box_homepage p {
  text-align: left;
  margin: auto;
  width: 85%;
}

.videoButton {
  position: absolute;
  bottom: 1em;
  left: 45%;
  font-size: 3em;
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.button-text {
  color: #fff;
  position: absolute;
  bottom: 6em;
  left: 35%; 
}

.bio .title {
  padding-top: 0.5em;
  font-size: 3em;
}

.title {
  padding-top: 1em;
  color: #3b4346eb;
  font-weight: bold;
}

.text-box p {
  margin: auto;
  width: 85%;
  text-align: left;
  letter-spacing: 3px;
}