.SignUp-form {
  height: 350px;
  width: 40%;
  padding: 3em 0;
  background-color: #ffffff0f;
  margin: 3.5em auto;
  color: #fff;
}

.input {
  padding-left: 0.3em;
  font-size: 1.3em;
  margin: 1em auto;
  width: 75%;
  height: 35px;
  display: block;
}

.SignUp-form button {
  width: 75%;
  height: 45px;
  background-color: transparent;
  color: #fff;
  font-size: 2em;
}

@media screen and (max-width: 900px) {
  .SignUp-form {
    width: 90%;
  }

  .SignUp-form button {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 420px) {
  .SignUp-form {
    width: 90%;
  }
}