body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/nathan-anderson.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  font-family: sans-serif;
}
